body {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
}

main {
  max-width: 1024px;
  margin: auto;
  padding: 1rem;
}

nav-bar {
  display: flex;
  width: 100%;
}

nav-bar {
  background-color: #eee;
}

nav-bar::part(navbar) {
  background-color: #eee;
  max-width: 1024px;
  margin: auto;
}

nav-bar a,
nav-bar::part(toggle) {
  padding: 1rem;
  text-decoration: none;
  color: unset;
}

nav-bar .link.active {
  background-color: #ddd;
}

nav-bar .link:hover {
  background-color: #ccc;
}
